*.txt linguist-language=CMake
*.cpp linguist-language=C++
*.h linguist-language=C++
*.hpp linguist-language=C++

*.py linguist-detectable=false  
*.svg  linguist-detectable=true
*.ui  linguist-detectable=false
*.qrc  linguist-detectable=false
